.top-head{
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.26), rgba(67, 67, 67, 0.16)), url('../../../public/img/contact.png');
  background-size: contain;
  height: 400px;
  background-position: center;
  color: #fff;
}
.rectangle-1{
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 30px 50px;
  background: #fff;
  position: relative;
  margin-top: -220px;
}
.modalcontent{
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
select.light{
  height: 48px;
  border: 1px solid #d8d8d8;
  background: #fdfdfd;
  border-radius: 0;
}
input.light{
  height: 48px;
  border: 1px solid #d8d8d8;
  background: #fdfdfd;
  border-radius: 0;
}
input.converter{
border: none;
max-width: 90px;
margin-left: 15px;  
}
input.converter:focus{
box-shadow: none !important;
border: 1px solid #fdfdfd !important;
}
input.default-input{
  width: 100%;
  height: 42px;
  border-radius: 2px;
  border: none;
  background: #fff;
  padding: 5px; 
}
input.default-input:focus{
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.02);
}
.vue-simple-suggest.designed .input-wrapper{
  width: 100% !important;
}
ul.suggestions{
  list-style: none;
  font-size: 14px;
  width: 97%;
  font-family: source sans pro;
  text-align: left;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  position: absolute;
  padding-inline-start: unset;
  background: rgba(255, 255, 255, 0.85);
  color: #232323;
  z-index: 9999;
}
ul.suggestions li{
  padding: 5px 10px;
  /* border-bottom: 1px solid #a7a7a7; */

}
ul.suggestions li:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.12);
}
textarea.light{
  border: 1px solid #d8d8d8;
  background: #fdfdfd;
  border-radius: 0;
}
select.form-control:focus, input.form-control:focus, textarea.form-control:focus{
  box-shadow: none;
  border: 1px solid #008752;
}
::placeholder{
  color: #ccc;
  font-size: 14px;
  font-family: source sans pro;
}
#latest .card figure{
max-width: 400px;
min-width: 300px;
overflow: hidden !important;
}
#latest .card figure img.card-img-top  {
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
#latest .card:hover figure img.card-img-top {
-webkit-transform: scale(1.15);
transform: scale(1.15);
}
.htome{
position: absolute;
top: 70px;
left: 9%;  right: 9%;
min-height: 100% !important; 
padding-top: 100px;
}
.coveram{
  height: 30px;
  width: 60px;
  background: #fff;
  position: absolute;
  margin-top: -30px;
}
.btn-group a{
color: #404040;
text-decoration: none;
font-size: 14px;
font-family: source sans pro;
}
.addmin{
background: #fafafa;
margin-top: 100px;
margin-bottom: 100px;
}
.ad_rectangle{
border: solid 1px #ebebf2;
background-color: #ffffff;
padding: 40px 50px;
}
.ad_greyrec{
border: solid 1px #ebebf2;
background-color: rgba(216, 216, 216, 0.1);
padding: 24px 32px;
}
.ad_shadowrec{
box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
background-color: #ffffff;
padding: 20px 40px;
}
.topnav{
background: #fff;
}
.greennav{
background: #008752;
color: #fff;
font-size: 15px;
}
.greennav a.nav-link{
color: rgba(255, 255, 255, 0.5);
font-family: source sans pro;
font-size: 15px;
}
.greennav .nav-item.active, .greennav .nav-item:hover{
color: #fff !important;
}
.greennav a.nav-link img.aa{
opacity: 1;
}
.greennav a.nav-link img.bb{
position: absolute;
margin-left: -20px;
opacity: 0;
}
.greennav .nav-item.active a.router-link-exact-active img.aa{
opacity: 0;
}
.greennav .nav-item.active a.router-link-exact-active img.bb{
opacity: 1;
}
.greennav .nav-item.active a.router-link-exact-active{
color: #fff;
}
.table.ad_table thead{
border: none !important;
border-bottom: 1px solid #ebebf2 !important;
}
.table.ad_table thead th{
font-family: Source Sans Pro;
font-size: 12px;
font-weight: 600;
color: #b4bac1;
border-top: none !important;
}
.table.ad_table tbody td{
border-top: none !important;
}
.table.table-striped.ad_table tbody tr:nth-of-type(odd){
background: transparent !important;
border-top: none !important;
}
.table.table-striped.ad_table tbody tr:nth-of-type(even){
background: rgba(151, 151, 151, 0.05) !important;
border-top: none !important;
}
.nav-tabs.ad_tabs .nav-link{
border: none;
background: transparent;
font-family: source sans pro;
font-size: 14px;
color: #31384c;
padding-left: 0;
}
.nav-tabs.ad_tabs .nav-link.active{
border-bottom: 5px solid #008752;
color: #008752;
}
#sign-in{
background: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 56, 76, 0.65))), url('../../../public/img/rectangle@3x.jpg');
background-size: cover;
background-position: top center;
height: 100vh;
}
#sign-in-1{
background: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 56, 76, 0.65))), url('../../../public/img/greg-becker-UXRceJ89NNw-unsplash.jpg');
background-size: cover;
background-position: top center;
height: 100vh;
}
.sign-in-container{
/* display: flex;
flex-flow: column; */
/* align-items: center; */
box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
background: rgba(255, 255, 255, 0.8);
border-radius: 3px;
/* justify-content: center; */
/* height: 80vh; */
/* position: absolute;
top: 50px;
background: #fff;
margin: 0 auto; */
}
.btn-view{
  background: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 255, 0, 0.2);
  border-radius: 1px;
  color: rgba(0, 128, 0, 1);
  font-size: 12px;
  font-family: source sans pro;
  transition: .3s ease-in-out;
}
.btn-view:hover{
  border: 1px solid rgba(0, 255, 0, 0.2);
  color: rgba(52, 140, 175, 1);
  background: #fff;
}
.btn-edit{
  background: rgba(59, 59, 157, 0.18);
  border: 1px solid rgba(59, 59, 157, 0.18);
  border-radius: 1px;
  color: rgba(135, 135, 239, 1);
  font-size: 12px;
  font-family: avenir;
  transition: .3s ease-in-out;
}
.btn-edit:hover{
  border: 1px solid rgba(59, 59, 157, 0.18);
  color: rgba(135, 135, 239, 1);
  background: #fff;
}
.btn-delete{
  background: rgba(230, 26, 26, 0.18);
  border: 1px solid rgba(230, 26, 26, 0.18);
  border-radius: 1px;
  color: rgba(230, 26, 26, 1);
  font-size: 12px;
  font-family: avenir;
  transition: .3s ease-in-out;
}
.btn-delete:hover{
  border: 1px solid rgba(230, 26, 26, 0.18);
  color: rgba(230, 26, 26, 1);
  background: #fff;
}
.btn-deactivate{
  background: rgba(69, 190, 238, 0.18);
  border: 1px solid rgba(69, 190, 238, 0.18);
  border-radius: 1px;
  color: rgba(52, 140, 175, 1);
  font-size: 12px;
  font-family: avenir;
  transition: .3s ease-in-out;
} 
.btn-deactivate:hover{
  border: 1px solid rgba(69, 190, 238, 0.18);
  color: rgba(52, 140, 175, 1);
  background: #fff;
}
input-group.login{
height: 48px;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: rgba(0, 0, 0, 0.02);
}
.input-group.login input:-webkit-autofill,
.input-group.login input:-webkit-autofill:hover, 
.input-group.login input:-webkit-autofill:focus
.input-group.login input:-webkit-autofill, 
.input-group.login textarea:-webkit-autofill,
.input-group.login textarea:-webkit-autofill:hover
.input-group.login textarea:-webkit-autofill:focus,
.input-group.login select:-webkit-autofill,
.input-group.login select:-webkit-autofill:hover,
.input-group.login select:-webkit-autofill:focus {
  border: 1px solid rgba(0, 135, 82, 0.2);
-webkit-text-fill-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 135, 82, 0.05) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.input-group.login.ii:after{
  content:"\f2bd ";
  font-family: FontAwesome; 
  color: rgba(49, 56, 76, 0.4);
  font-size: 20px;
  position: absolute;
  /* margin-right: -20px; */
  right: 0;
  margin-top: +8px;
  z-index: 1;
  width: 10%;
  height: 100%;
  pointer-events: none;
}
.input-group.login.pp:after{
  content:"\f023 ";
  font-family: FontAwesome; 
  color: rgba(49, 56, 76, 0.4);
  font-size: 23px;
  position: absolute;
  /* margin-right: -20px; */
  right: 0;
  margin-top: +6px;
  z-index: 1;
  width: 10%;
  height: 100%;
  pointer-events: none;
}
.input-group.login input.form-control{
background: transparent;
border: none;
height: 47px; 
border-radius: 0;
}
.input-group.login input.form-control:focus{
border: solid 1px rgba(0, 135, 82, 0.2);
background-color: rgba(0, 135, 82, 0.05);

}
.input-group.login i{
color: rgba(49, 56, 76, 0.4);
font-size: 20px;
}
.input-group.operator{
border: solid 1px #f0f0f0;
background-color: #ffffff;
height: 40px;
}
.input-group.operator input{
border: none;
background: transparent;
height: 39px;
}
.input-group.operator input.form-control:focus{
box-shadow: none;
border: none;
}
.input-group.operator i{
color: #31384c;
font-size: 20px;
}
a.g-15{
font-family: Source Sans Pro;
font-size: 15px;
color: #008752;
text-decoration: none;
}
.carousel-indicators li{
background: transparent;
border: 4px solid #fff;
color: #fff;
height: 1px;
width: 1px;
border-radius: 100%;
z-index: 99999; 
}
.carousel-indicators li.active{
background: transparent;
border: 4px solid #008752  !important;
}
@media (max-width: 1024px){
#home{
  max-height: 700px !important;
}
}
@media (min-width: 1440px){
  .htome{
    position: absolute;
    top: 70px;
    left: 5%;  right: 5%;
    min-height: 100% !important; 
    padding-top: 100px;
    }
}
@media (max-width: 768px){
.ad_rectangle{
  padding: 20px 25px;
}
.ad_greyrec{
  padding: 12px 16px;
}
.ad_shadowrec{
  padding: 10px 20px;
}
#home{
  height: 700px !important; 
}
  .htome{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .rectangle-1{
      padding: 15px 20px;
      margin-top: 0;
  }
  .top-head{
      height: 300px;
  }
  .htome{
    position: absolute;
    top: 70px;
    left: 3%;
    height: 500px !important;
  }
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.3s ease-in-out;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Read more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Read less";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  color: #008752;
  font-family: source sans pro;
  font-size: 14px;
  font-weight: 600;
}

.selectBox{
  min-width: 100px;
  height: 48px;
}
.selectBox:after{
  content:"\f107 ";
  font-family: FontAwesome; 
  color: #000;
  font-size: 13px;
  position: absolute;
  margin-left: -20px;
  /* right: 0; */
  margin-top: +9px;
  z-index: 1;
  width: 10%;
  height: 100%;
  pointer-events: none;
}
.selectBox select.form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px #f0f0f0;
  background-color: #ffffff;
  height: 40px;
  border-radius: 1px;
  font-size: 14px;
  font-family: Source sans pro;
  color: #31384c;
  min-width: 150px;
}
.selectBox select.form-control:focus{
  border: 1px solid #008752;
}
.input-group.home{
  background: #fff;
  color: #707070;
  height: 42px;
  font-family: source sans pro;
}
.vs__dropdown-toggle{
 border: none !important;
 height: 42px;
 border-radius: 0 !important;
 background: #fff !important;
 color: #707070 !important;
 font-family: source sans pro !important;
 font-size: 14px !important;
}
.v-select ::placeholder{
 color: #707070 !important;
 font-family: source sans pro !important;
 font-size: 14px !important;
}
.vs__dropdown-menu{
 color: #707070 !important;
 font-family: source sans pro !important;
 font-size: 14px !important;
}



.l_c_h {
  width:200px;
  position:fixed;
  bottom:63px;
  right:10px;
  border-radius: 2px;
  background:#fff;
  border-radius:3px;
  z-index:5000;
  display:block;
  box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.1);
}
.l_c_h .c_h {
  cursor:pointer;
  border-radius:0px;
  background: #008752;
}
.l_c_h .left_c {
  color:#ebebeb;
  width:200px;
  padding: 0px 0px 0px 0px;
  font-size:16px;
  font-family: Source sans pro;
}
.l_c_h .right_c {
  text-align:center;
  /*background:#DE4A4A;*/
  background:#000;
  line-height: 35px;
}
.l_c_h .right_c  a {
  color:#ebebeb;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  cursor: pointer !important;
  font-size: 16px;
  line-height: normal !important;
  margin-top: 0 !important;
  padding: 1px 0px !important;
  text-align: center !important;
  text-decoration:none;
  font-weight:600;
}
.clear {
  clear:both;
}
.chat_container {
    /*		display:none;*/
    padding:15px 13px;
       }


.left{
  float:left;
}
.right{
  float:right;
}
.left_icons{
  width:35px;
  height:auto;
  text-align:center;
  color:#999;
  /*background:#DE4A4A;*/
  background: #000;
  font-size:15px;
}
.left_icons a{
  color:#fff;
  font-weight:normal;
}
.center_icons{
  text-align:center;
  padding:2px 0px 0px 5px;
  width: 100%;
}
.logout img{
  margin-top:8px;
}